[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioice = "==0.10.1"
aiortc = "==1.13.0"
altair = "==4.2.0"
attrs = "==25.3.0"
audioread = "==3.0.1"
av = "==14.4.0"
blinker = "==1.9.0"
cachetools = "==6.1.0"
certifi = "==2025.6.15"
cffi = "==1.17.1"
charset-normalizer = "==3.4.2"
click = "==8.2.1"
cryptography = "==45.0.4"
decorator = "==5.2.1"
dnspython = "==2.7.0"
entrypoints = "==0.4"
gitdb = "==4.0.12"
gitpython = "==3.1.44"
google-crc32c = "==1.7.1"
idna = "==3.10"
ifaddr = "==0.2.0"
importlib-metadata = "==8.7.0"
jinja2 = "==3.1.6"
joblib = "==1.5.1"
jsonschema = "==4.24.0"
jsonschema-specifications = "==2025.4.1"
lazy-loader = "==0.4"
librosa = "==0.11.0"
llvmlite = "==0.43.0"
markdown-it-py = "==3.0.0"
markupsafe = "==3.0.2"
mdurl = "==0.1.2"
msgpack = "==1.1.1"
numba = "==0.60.0"
numpy = "==1.26.4"
packaging = "==25.0"
pandas = "==2.3.0"
pillow = "==11.2.1"
platformdirs = "==4.3.8"
pooch = "==1.8.2"
protobuf = "==3.20.3"
pyarrow = "==20.0.0"
pycparser = "==2.22"
pydeck = "==0.9.1"
pyee = "==13.0.0"
pygments = "==2.19.2"
pylibsrtp = "==0.12.0"
pympler = "==1.1"
pyopenssl = "==25.1.0"
python-dateutil = "==2.9.0.post0"
pytz = "==2025.2"
referencing = "==0.36.2"
requests = "==2.32.4"
rich = "==14.0.0"
rpds-py = "==0.25.1"
scikit-learn = "==1.7.0"
scipy = "==1.16.0"
semver = "==3.0.4"
six = "==1.17.0"
smmap = "==5.0.2"
soundfile = "==0.13.1"
soxr = "==0.5.0.post1"
srt = "==3.5.3"
streamlit = "==1.17.0"
streamlit-webrtc = "==0.63.1"
threadpoolctl = "==3.6.0"
toml = "==0.10.2"
toolz = "==1.0.0"
tornado = "==6.5.1"
tqdm = "==4.67.1"
typing-extensions = "==4.14.0"
tzdata = "==2025.2"
tzlocal = "==5.3.1"
urllib3 = "==2.5.0"
validators = "==0.35.0"
vosk = "==0.3.45"
watchdog = "==6.0.0"
websockets = "==15.0.1"
zipp = "==3.23.0"


[requires]
python_version = "3.12.7"
